.paper {
    background-color: #505050;
    padding: 10px;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.marg {
    margin-top: 8%;
}