.md-preview {
    box-sizing: border-box;
    position: relative;
    z-index: 250;
    font-family: Russo, Teko;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
    overflow-y: auto; /* Вертикальная полоса прокрутки */
    scrollbar-width: thin; /* Firefox: ширина полосы прокрутки */
    scrollbar-color: #69322f #1d2021; /* Firefox: цвет трека и ползунка */
    clip-path: inset(0 round 10px); /* Закругляем углы */
    background-color: #DBDDCF;
    color: #343434;
}
.md-preview * {
    box-sizing: border-box;
    max-width: 100%;
    word-break: normal;
}

.md-preview p:has(code) {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    background-color: #a3a18f;
    border-radius: 5px;
}

.md-preview blockquote {
    border-left: #343434 5px solid;
    margin-left: 0px;
    padding-left: 40px;
}

.md-preview table {
    border-collapse: collapse;
    width: 100%; /* Ширина таблицы */
}
  
.md-preview th, td {
    border: 1px solid black;
    text-align: left; /* Выравнивание текста */
    padding: 8px;
}
  
.md-preview th {
    background-color: #918f81; /* Заливка заголовка */
}

.md-preview hr {
    border: none;
    border-top: 3px solid #424242;
}

.md-preview img {
    border-radius: 10px;
    max-height: 90vh;
    /* border: #282828 3px solid; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.md-preview h1 {
    padding-bottom: 8px;
}