/* HEADER */

#header *{ 
    font-family: Russo;
    font-size: 22px;
}

#header-cont {
    z-index: 1500;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
}

#header {
    margin-bottom: 12px;
    margin-top: 12px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    transition: ease 0.3s;
    background-image: url(../svgs/header.svg);
    background-size: cover;
    color: #dbddcf;
    display: flex;
    /* background-color: #1d2021; */
    background-color: #202020;
    max-width: 1500px;
    padding: 20px;
    text-align: center;
    justify-content: space-between;
    border-radius: 35px;
    box-shadow: 1px 1px 1px 5px rgba(0, 0, 0, 0.048);
}
  
#header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
#header li {
    display: inline-block; 
    margin-right: 20px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    transition: ease 0.3s;
    font-size: 5px;
}

#header li:hover {
    transform: scale(1.1);
}
  
#header a {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убрать подчеркивание */
    transition: color 0.2s ease; /* анимация перехода */
}
  
#header a:hover {
    color: #ccc; /* цвет текста при наведении */
}

.header-reg {
    align-content: flex-end;
}

.active {
    transition: color 0.2s ease;
    background-color: #7f3d39;
    padding: 8px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
}

#createPostBTN {
    font-family: FA;
    font-size: 20px;
}

@media (min-width: 0px) and (max-width: 550px) {

}