.PostHeader {
    font-family: Russo, Teko;
    font-size: 15px;

    background-color: #7F3D39;
    color: #DBDDCF;
    border-bottom: 4px solid #753835;
    border-radius: 6px;
    margin: 0px;
    padding: 4px;
    text-align: center;
}

#PostBody {
    z-index: 250;
    font-family: Russo, Teko;
    font-size: 20px;
    padding: 20px;
    background-color: #DBDDCF;  
    border-bottom: 4px solid #b8b9b0;
    border-radius: 10px;  
    word-break: break-all;
    max-height: 250px;
    overflow-y: hidden;
    margin-top: 10px;
    margin-bottom: 5px;
}

.PostHeader h1{
    margin: 4px;
    min-width: 50%;
}

.PostSpan{
    font-family: Russo, Teko;
    font-size: 20px;
    display: flex;
    margin: 0;
    color: white;
    text-align: center;
    align-items: center;
    
}

.PostSpan p {
    margin: 0;
    font-size: 25px;
    padding: 5px;
    background-color: #798360;
    border-bottom: #61694D 3px solid;
    border-radius: 10px;
    color: #DBDDCE;
}

.PostBottom {
    font-family: Russo;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.PostBottom button {
    font-family: Russo;
    font-size: 24px;
    background-color: #798360;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    height: 50px;
    color: #DBDDCE;
    box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.075);
    transition: ease 0.3s;
    cursor: text;
    border-bottom: 3px solid #61694D;
}

.PostBottom button:hover {
    background-color: #6a7255;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.075);
    scale: 1.05;
}

.PostBottom button:active {
    scale: 1.0;
    background-color: #7E7B68;
}

#PostElement {
    border-radius: 10px;
    background-color: #313131;
    margin: 12px;
    padding: 12px;
}



.ratings-span {
    display: flex;
    margin-left: 10px;
}

.rating {
    font-family: FA;
    color: #DBDDCE;
    font-size: 20px;
    align-self: center;
}

.rating p {
    color: #DBDDCF;
}

.like-rating {
    background-color: #798360;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    padding: 8px;
    border-bottom: 3px solid #61694D;
}

.dislike-rating {
    background: #7F3D38;
    padding: 5px;
    border-radius: 8px;
    margin-left: 5px;
    display: flex;
    padding: 8px;
    border-bottom: 3px solid #753834;
}

.ratings-span p {
    color: #DBDDCE;
    background-color: #0000;
    border: none;
    font-size: 20px;
    padding: 0;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
