.PostHeader {
    font-family: Russo, Teko;
    font-size: 15px;

    background-color: #7F3D39;
    color: #DBDDCF;
    border-bottom: 4px solid #753835;
    border-radius: 6px;
    margin: 0px;
    padding: 4px;
    text-align: center;
}

#PostBody {
    z-index: 250;
    font-family: Russo, Teko;
    font-size: 20px;
    padding: 20px;
    background-color: #DBDDCF;  
    border-bottom: 4px solid #b8b9b0;
    border-radius: 10px;  
    word-break: break-all;
    max-height: 250px;
    overflow-y: hidden;
    margin-top: 10px;
    margin-bottom: 5px;
}

.PostHeader h1{
    margin: 4px;
    min-width: 50%;
}

.PostSpan{
    font-family: Russo, Teko;
    font-size: 20px;
    display: flex;
    margin: 0;
    color: white;
    text-align: center;
    align-items: center;
    
}

.PostSpan p {
    margin: 0;
    font-size: 25px;
    padding: 5px;
    background-color: #908D79;
    border-bottom: #7c7a68 2px solid;
    border-radius: 10px;
    color: #424243;
}

.PostBottom {
    font-family: Russo;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.PostBottom button {
    font-family: Russo;
    font-size: 24px;
    background-color: #7E7B68;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    height: 50px;
    color: #424243;
    box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.075);
    transition: ease 0.3s;
    cursor: text;
}

.PostBottom button:hover {
    background-color: #9b9a84;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.075);
    scale: 1.05;
}

.PostBottom button:active {
    scale: 1.0;
    background-color: #7E7B68;
}

#PostElement {
    border-radius: 10px;
    background-color: #424243;
    margin: 12px;
    padding: 12px;
}

/* 
 #PostBody * {
    max-width: 100%;
    word-break: break-all;
}

#PostBody p:has(code) {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    background-color: #a3a18f;
    border-radius: 5px;
}

#PostBody blockquote {
    border-left: #343434 5px solid;
    margin-left: 0px;
    padding-left: 40px;
}

#PostBody table {
    border-collapse: collapse;
    width: 100%; /* Ширина таблицы
}
  
#PostBody th, td {
    border: 1px solid black;
    text-align: left; 
    padding: 8px;
}
  
#PostBody th {
    background-color: #918f81;
} */