@font-face {
    font-family: FA;
    src: url("/fa-solid-900.ttf");
}

@font-face {
    font-family: Russo;
    src: url('/KellySlab-Regular.ttf');
}

@font-face {
    font-family: Teko;
    src: url("/Teko.ttf");
  }
  