body {
    background-color: #343434;
    padding: 0;
    margin: 0;
}

body {
    scrollbar-color: #7F3D39 #424242;
    scrollbar-width: thin;
}

html {
    scrollbar-color: #7F3D39 #1d2021;
    scrollbar-width: auto;
}