.md-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    height: 100%;
}

.group-1 {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.title-input {
    box-shadow: 9px 6px 11px 2px rgba(0,0,0,0.31);
    color: #dbddcf;
    font-size: 20px;
    background-color: #7f3d39;
    margin-left: 25px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.md-editor {
    box-shadow: 9px 6px 21px 2px rgba(0,0,0,0.31);
    width: 40%;
    padding: 25px;
    background-color: #424242;
    border-radius: 10px;
    max-height: 70vh;
}

.preview {
    box-shadow: 9px 6px 21px 2px rgba(0,0,0,0.31);
    background-color: #DBDDCF;
    overflow-y: auto; /* Вертикальная полоса прокрутки */
    scrollbar-width: thin; /* Firefox: ширина полосы прокрутки */
    scrollbar-color: #7f3d39 #b7b8b2; /* Firefox: цвет трека и ползунка */
    border-radius: 10px;
    max-height: 70vh; /* Ограничение высоты */
    margin-left: 25px;
    clip-path: inset(0 round 10px); /* Закругляем углы */
}

.check-btn {
    font-family: FA;
    position: absolute;
    z-index: 1000;
    right: 20px;
    bottom: 20px;
    border: none;
    font-size: 25px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: #dbddcf;
    background-color: #7d8360;
}

.check-btn:hover {
    transition: ease 0.2s;
    background-color: #63684a;
    bottom: 22px;
}

.check-btn:active {
    background-color: #54583f;
}